{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":600,"scrollleft":0,"selection":{"start":{"row":56,"column":14},"end":{"row":56,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":41,"state":"start","mode":"ace/mode/text"}},"timestamp":1581933870387,"hash":"f6ab8438ab6ccb1136499655f2f1bf8903cc015e"}